.button-style {
  background-color: gray;
  border: 1px solid gray;
}
.button-style:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: black;
}
.button-style a {
  color: #fff;
  text-decoration: none;
}
.hero-image {
  padding: 48px;
}

.hero-image img {
  max-width: 350px;
  float: right;
}

@media only screen and (max-width: 740px) {
  .hero-image {
    padding: 0;
    margin-top: 30px;
  }
  .hero-image img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .hero-image img {
    max-width: 100%;
    padding: 0 15px;
  }
}
