.skills span{
        background: #4b5769;
        margin-right: 5px;
        margin-top: 5px;
        border-radius: 3px;
        padding: 3px 10px;
        margin: 10px;
        font-size: 13px;
        height: 26px;
}

.btn-github{
    background-color: #0A192F;
    text-decoration: none;
    margin-right: 20px;
}
.btn-github:hover{
    background-color: aqua;
    text-decoration: none;
}

.btn-linkedIn{
    color: blue;
    background-color: aqua;
    border: 2px solid aqua;
}