.technology span {
  background: #394b66;
  color: white;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 14px;
  display: inline-block;
}

/* Projects */
.img-animation figure {
  overflow: hidden;
}
.img-animation figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.img-animation:hover figure img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.img-animation:hover {
  box-shadow: 5px 5px 30px 20px #b40000;
}

.github-icon {
  color: #000 !important;
}

.card-body h5,
.card-body p {
  color: #fff;
}

/* Main */

.single-project {
  padding: 30px 15px;
  background-color: rgb(238, 235, 235);
  color: #000;
  font-size: 20px;
  font-weight: 500;
}


.project-link a {
  margin: 0 10px 0 10px;
}

.link-btn {
  background-color: blue;
  border: none;
  color: #fff;
}

.card-img-hover {
  overflow: hidden;
}

.card-img-hover img:hover {
  transition: 0.5s all ease-in-out;
  transform: scale(1.2);
}

.card-title {
  color: #02001b !important;
}

.card-text {
  color: #02001b !important;
}

.modal-content {
  width: 1000px !important;
  background-color: #0a192f;
}

.btn-close {
  color: #fff !important;
}
.details {
  background-color: #0a192f !important;
}

.modal-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-fullscreen .modal-content {
  height: auto !important;
}

.details-title {
  color: #000 !important;
}
